@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'basier_circleregular';
    src: url('../basiercircle-regular-webfont.eot');
    src: url('../basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../basiercircle-regular-webfont.woff2') format('woff2'),
         url('../basiercircle-regular-webfont.woff') format('woff'),
         url('../basiercircle-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
  }
html, 
body {
    min-height: 100%;
    overflow-x:hidden;
}
a {
    background-color: transparent;
  }
body{
    overflow-y:hidden;
    position:relative;
    margin:0;
    font-family:'basier_circleregular', 'Roboto', sans-serif;
    background: rgb(232,234,245);
    background: -moz-linear-gradient(180deg, rgba(232,234,245,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(232,234,245,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(232,234,245,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8eaf5",endColorstr="#ffffff",GradientType=1);
}
.container{
    margin-top:4rem;
    max-height:100%;
    display:flex;
    flex-direction:row;
}
.title{
    flex-basis:50%;
    margin:0 0rem 3rem 3rem;
    align-self:center;
}
.title__header, .blocks__title{
    color:#1a237e;
}
.title__header{
    font-size:3rem;
    margin:1rem 0;
}
.title__header--bright{
    color:#314efe;
}
.blocks__text, .title__lorem, .title__text{
    color:#7986cb;
}
.title__text{
    line-height:1.75rem;
    padding-right:4rem;
    margin-bottom:2rem;
}
.title__lorem{
font-size:0.75rem;
}
.text__action{
    background-color:#ffab02;
    color:#fff8eb;
    border-radius:.25rem;
    padding: .5rem 1rem;
}
.blocks{
    margin: 0 3rem 0 3rem;
    display:flex;
    flex-direction:row;
    flex-basis:50%;
    gap:2rem;
}
.blocks__column{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    gap:1.5rem;
}
.blocks__column--sec{
    margin-top:1.5rem;
}
.blocks__element{
    background-color:#ffffff;
    border:1px solid #e4e4e5;
    border-radius:.25rem;
    padding:2.5rem 1.5rem 1.5rem 1.5rem;
    line-height:1.25rem;
}
.blocks__icon{
    padding:.75rem;
    border-radius:.25rem;
   
}
.blocks__title{
    line-height:2rem;
    margin: 2rem 0 .75rem 0 ;
}
.blocks__text{
    margin:0;
}

.blocks__icon--blue{
    background-color:#bbdefb;
    color:#1e88e5;
}
.blocks__icon--green{
    background-color:#c8e6c9;
    color:#43a048;
}
.blocks__icon--yellow{
    background-color:#fff9c4;
    color:#f9a825;
}
.blocks__icon--purple{
    background-color:#e1bee7;
    color:#8e25aa;
}
@media only screen and (max-width: 1000px) {
    .container{
        flex-direction:column;
    }
    .shapes__first{
        display:none;
    }
  }
  @media only screen and (max-width: 550px) {
    .blocks{
        flex-direction:column;
    }
    
  }


.shapes__first{
    position:absolute;
    top:15rem;
    left:-4.5rem;
    z-index:-1;
    background: rgb(232,234,245);
    width:35rem;
    height:25rem;
    background: -moz-linear-gradient(180deg, rgba(232,234,245,1) 20%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(232,234,245,1) 20%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(232,234,245,1) 20%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8eaf5",endColorstr="#ffffff",GradientType=1);
    border-radius: 100% 0% 0% 100% / 100% 0% 100% 0% ;
}
.shapes__triangle{
    position:absolute;
    right:-18rem;
    top:-18rem;
    z-index:-1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 36rem;
    height: 36rem;
    background: rgb(228,230,246);
    background: -moz-linear-gradient(90deg, rgba(228,230,246,1) 20%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(228,230,246,1) 20%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(228,230,246,1) 20%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4e6f6",endColorstr="#ffffff",GradientType=1);
}
.shapes__smaller{
    position:absolute;
    right:10rem;
    top:15rem;
    z-index:-1;
    width: 0;
    height: 0;
    border-top: 20rem solid #ebedf7;
    border-left: 20rem solid transparent;
}