html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
  }
html, 
body {
    height: 100%;
}
a {
    background-color: transparent;
  }
body{
    margin:0;
    background: rgb(232,234,245);
    background: -moz-linear-gradient(180deg, rgba(232,234,245,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(232,234,245,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(232,234,245,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8eaf5",endColorstr="#ffffff",GradientType=1);
}
.container{
    display:flex;
    flex-direction:row;
}